<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dance Talk</title>
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.esm-browser.js",
                    "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@4.5.0/dist/vue-router.esm-browser.prod.js",
                    "@graffiti-garden/implementation-local": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-local@0.6.4/dist/browser/index.js",
                    "@graffiti-garden/implementation-remote": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-remote@0.6.2/dist/browser/index.js",
                    "@graffiti-garden/wrapper-vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-vue@0.7.2/dist/browser/plugin.mjs",
                    "@graffiti-garden/wrapper-files": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-files@0.0.1/dist/browser/index.js",
                    "@graffiti-garden/wrapper-files/vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-files@0.0.1/dist/vue/index.mjs"
                }
            }
        </script>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">
            <div id="chatBar">
                <h1>Dance Talk</h1>
                <button class="login" v-if="!$graffitiSession.value" @click="login()">
                    <img src="./icons/Login.svg">Log In
                </button>
                <template v-else>
                    <div class="logout">
                        <button class="profile" @click="showProfile()"><img src="./icons/User.svg">Profile</button>
                        <!-- <router-link :to="`/profile/`" class="profile"><img src="./icons/User.svg">Profile</router-link> -->
                        <button id="logoutButton" @click="logout()">
                            <img src="./icons/Logout.svg">Log Out
                        </button>
                    </div>
                </template>

                <form v-if="$graffitiSession.value" @submit.prevent="createGroup($graffitiSession.value)">
                    <fieldset :disabled="creating">
                        <input
                            id="newGroupText"
                            type="text"
                            v-model="groupName"
                            placeholder="New group name"
                            ref="messageInput"
                            v-focus
                        />
                        <button id="createGroupButton" type="submit">Create</button>
                    </fieldset>
                </form>

                <graffiti-discover
                    v-if="$graffitiSession.value"
                    v-slot="{ objects: messageObjects, isInitialPolling }"
                    :channels="channels"
                    :schema="{
                        properties: {
                            value: {
                                required: ['object'],
                                object: {
                                    required: ['name', 'channel'],
                                    properties: {
                                        name: { type: 'string' }
                                    }
                                }
                            }
                        }
                    }"
                >
                    <ul id="there">
                        <li v-if="isInitialPolling">Loading...</li>
                        <li
                            v-for="object of messageObjects.filter(el => el.value.object.members.includes($graffitiSession.value.actor))"
                            :key="object.url"
                            class="group"
                        >
                            <button v-if="$graffitiSession.value && object.value.object.members.includes($graffitiSession.value.actor)" @click="enterGroup(object.value.object.channel, object.value.object.name, object.actor, object.url, object.value.object.members)">{{ object.value.object.name }}</button>
                        </li>
                    </ul>
                </graffiti-discover>
            </div>

            <div>
                <!-- <router-view></router-view> -->
                <!-- <div id="right" v-if="$router.currentRoute.value.path=='/'"> -->
                <div id="profilePage" v-if="showingProfile">
                    <button id="back" @click="showProfile()"><img src="../../icons/Back.svg"></button>
                    <span id="username"><strong>{{$graffitiSession.value.actor}}</strong></span>
                    <img src="../../icons/User.svg">
                    <div v-if="editingProfile">
                        <ul>
                            <li>
                                <strong>First name: </strong> <input type="text" v-model="userFirst"/>
                            </li>
                            <li>
                                <strong>Last name: </strong> <input type="text" v-model="userLast"/>
                            </li>
                            <li>
                                <strong>Dance groups: </strong> <input type="text" v-model="userTeams"/>
                            </li>
                            <li>
                                <strong>Dance styles: </strong> <input type="text" v-model="userStyles"/>
                            </li>
                        </ul>
                        <button @click="setEditingProfile()">Cancel</button>
                        <button @click="submitProfile()">Save</button>
                    </div>
                    <div v-else id="profileList">
                        <ul>
                            <li>
                                <strong>First name: </strong>
                            </li>
                            <li>
                                {{userFirst}}
                            </li>
                            <li>
                                <strong>Last name: </strong>
                            </li>
                            <li>
                                {{userLast}}
                            </li>
                            <li>
                                <strong>Dance groups: </strong>
                            </li>
                            <li>
                                {{userTeams}}
                            </li>
                            <li>
                                <strong>Dance styles: </strong>
                            </li>
                            <li>
                                {{userStyles}}
                            </li>
                        </ul>
                        <button @click="setEditingProfile()">Edit</button>
                    </div>
                </div>
                <div id="right" v-if="!showingProfile"></div>
                    <div class="groupName" v-if="!showingProfile && currentGroup && $graffitiSession.value">{{currentGroup}}</div>
                    
                    <div class="addForm" v-if="adding">
                        <input type="text" v-model="addee"/>
                        <button @click="addParticipant($graffitiSession.value)">Add</button>
                        <button @click="cancelAdd">Cancel</button>
                    </div>
                    
                    <div v-if="currentGroup" v-if="!showingProfile" class="plusBig">
                        <button @click="openGroupTools" v-if="!showingProfile"><img src="./icons/More.svg"></button>
                    </div>
                    <div class="groupTools" v-if="!showingProfile">
                        <button class="renameButton" @click="(event) => isRenaming(event, $graffitiSession.value)">Rename</button>
                        <button v-if="$graffitiSession.value && currentGroupAdmin===$graffitiSession.value.actor" class="addParticipantButton" @click="addParticipantButtonHandler()">Add Participant</button>
                        <button v-if="$graffitiSession.value && currentGroupAdmin===$graffitiSession.value.actor" @click="deleteGroup($graffitiSession.value, currentGroupURL)">Delete</button>
                    </div>
                    <template id="renameTemplate">
                        <input
                            type="text"
                            :value="newGroupName"
                            v-focus
                        />
                        <button>Rename</button>
                        <button @click="cancelRename">Cancel</button>
                    </template>

                    <div id="messageBar" :class="{ empty: !currentGroup }">
                        <graffiti-discover
                            v-if="currentGroup"
                            id="messageList"
                            v-slot="{ objects: messageObjects, isInitialPolling }"
                            :channels="[currentChannel]"
                            :schema="{
                                properties: {
                                    value: {
                                        required: ['content', 'published'],
                                        properties: {
                                            content: { type: 'string' },
                                            published: { type: 'number' }
                                        }
                                    }
                                }
                            }"
                        >
                            <ul id="here">
                                <li v-if="isInitialPolling">Loading...</li>
                                <li
                                    v-for="object of messageObjects.sort((a, b) => a.value.published - b.value.published)"
                                    :key="object.url"
                                    class="message"
                                    :class="{mine : object.actor===$graffitiSession.value.actor}"
                                >
                                    <div class="author">
                                        {{ object.actor }}
                                    </div>
                                    {{ object.value.content }}
                                    <div class="plus" v-if="object.actor===$graffitiSession.value.actor">
                                        <button @click="openTools"><img src="./icons/More.svg"></button>
                                    </div>
                                    <div class="tools">
                                        <button v-if="object.actor===$graffitiSession.value.actor" @click="deleteMessage($graffitiSession.value, object.url)">Delete</button>
                                        <button class="editButton" v-if="object.actor===$graffitiSession.value.actor" @click="(event) => isEditing(event, $graffitiSession.value, object.url, object.value.content)">Edit</button>
                                    </div>
                                    <template id="editTemplate">
                                        <input
                                            type="text"
                                            :value="object.value.content"
                                            ref="messageInput"
                                            v-focus
                                        />
                                        <button>Save</button>
                                        <button>Cancel</button>
                                    </template>
                                </li>
                            </ul>
                        </graffiti-discover>
                    </div>
                    <div id="typing" v-if="!showingProfile && $graffitiSession.value && currentGroup">
                        <form @submit.prevent="sendMessage($graffitiSession.value)">
                            <fieldset id="textBar" :disabled="sending">
                                <input
                                    type="text"
                                    v-model="myMessage"
                                    placeholder="Message"
                                    ref="messageInput"
                                    v-focus
                                />
                                <button id="send" type="submit">
                                    <img src="./icons/Send.svg">
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="index.js" type="module"></script>
    </body>
</html>
