<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dance Talk</title>
        <script type="importmap">
            {
                "imports": {
                    "vue": "https://cdn.jsdelivr.net/npm/vue@3.5.13/dist/vue.esm-browser.js",
                    "vue-router": "https://cdn.jsdelivr.net/npm/vue-router@4.5.0/dist/vue-router.esm-browser.prod.js",
                    "@graffiti-garden/implementation-local": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-local@0.6.4/dist/browser/index.js",
                    "@graffiti-garden/implementation-remote": "https://cdn.jsdelivr.net/npm/@graffiti-garden/implementation-remote@0.6.2/dist/browser/index.js",
                    "@graffiti-garden/wrapper-vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-vue@0.7.2/dist/browser/plugin.mjs",
                    "@graffiti-garden/wrapper-files": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-files@0.0.2/dist/browser/index.js",
                    "@graffiti-garden/wrapper-files/vue": "https://cdn.jsdelivr.net/npm/@graffiti-garden/wrapper-files@0.0.2/dist/vue/index.mjs"
                }
            }
        </script>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div id="app">
            <div id="chatBar">
                <h1>Dance Talk</h1>
                <button class="login" v-if="!$graffitiSession.value" @click="login()">
                    <img src="./icons/Login.svg">Log In
                </button>
                <template v-else>
                    <div class="logout">
                        <button class="profile" @click="showProfile()"><img src="./icons/User.svg">Profile</button>
                        <button id="logoutButton" @click="logout()">
                            <img src="./icons/Logout.svg">Log Out
                        </button>
                    </div>
                </template>

                <form v-if="$graffitiSession.value" @submit.prevent="createGroup($graffitiSession.value)">
                    <fieldset :disabled="creating">
                        <input
                            id="newGroupText"
                            type="text"
                            v-model="groupName"
                            placeholder="New group name"
                            ref="messageInput"
                            v-focus
                        />
                        <button id="createGroupButton" type="submit">Create</button>
                    </fieldset>
                </form>

                <graffiti-discover
                    autopoll
                    v-if="$graffitiSession.value"
                    v-slot="{ objects: messageObjects, isInitialPolling }"
                    :channels="channels"
                    :schema="{
                        properties: {
                            value: {
                                required: ['object'],
                                object: {
                                    required: ['name', 'channel'],
                                    properties: {
                                        name: { type: 'string' }
                                    }
                                }
                            }
                        }
                    }"
                >
                    <ul id="there">
                        <li class="loading" v-if="isInitialPolling">Loading...</li>
                        <li
                            v-for="object of messageObjects.filter(el => el.value.object.members.includes($graffitiSession.value.actor))"
                            :key="object.url"
                            class="group"
                        >
                            <button v-if="$graffitiSession.value && object.value.object.members.includes($graffitiSession.value.actor)" @click="enterGroup(object.value.object.channel, object.value.object.name, object.actor, object.url, object.value.object.members)">{{ object.value.object.name }}</button>
                        </li>
                    </ul>
                </graffiti-discover>
            </div>

            <div>
                <router-view></router-view>
                <div id="foldersPage" v-if="sendingFile && $router.currentRoute.value.path=='/'">
                    <button id="back" @click="() => {sendingFile = false; selected = ''; fileToSubmit = null}"><img src="./icons/Back.svg"></button>
                    <span id="filesTitle">Select Destination Location</span>
                    <button type="button" id="newFolder" @click="newFolderButtonHandler">
                        <img src="./icons/Plus.svg">
                    </button>
                    <button id="sendFileButton" @click="submitFile(currentGroup, $graffitiSession.value)">
                        Send
                    </button>
                    <div class="above" id="newFolderTemplate" v-if="foldering">
                        <input
                            type="text"
                            class="above"
                            v-model="newFolderName"
                            v-focus
                        />
                        <button class="above" @click="addFolder(currentGroup)">Add</button>
                        <button class="above" @click="cancelFoldering()">Cancel</button>
                    </div>
                    <graffiti-discover
                        :schema="{
                            properties: {
                                value: {
                                    required: ['name', 'describes'],
                                    properties: {
                                        name: { type: 'string' },
                                        describes: { type: 'string' },
                                    }
                                }
                            }
                        }"
                        v-slot="{ objects: messageObjects }"
                        :channels="['https://' + currentGroup + '.folders.com']"
                    >
                        <div id="folderSection">
                            <div v-for="object of messageObjects">
                                <div class="folder">
                                    <button @click="selectFolder(object.value.name)">
                                        <img v-if="object.value.name != selected" src="./icons/Folder.svg">
                                        <img v-if="object.value.name == selected" src="./icons/SelectedFolder.svg">
                                        <div>{{ object.value.name }}</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </graffiti-discover>
                </div>
                <div id="profilePage" class="myProfile" v-if="showingProfile && $router.currentRoute.value.path=='/'">
                    <button id="back" @click="showProfile()"><img src="./icons/Back.svg"></button>
                    <span id="username"><strong>{{ parseUsername($graffitiSession.value.actor) }}</strong></span>
                    
                    <graffiti-discover
                        :schema="graffitiFileSchema"
                        v-slot="{ objects: messageObjects }"
                        :channels="['https://' + $graffitiSession.value.actor + '.profilepicture.com']"
                    >
                        <div v-for="object of messageObjects">
                            <graffiti-object-to-file
                                :object="object"
                                v-slot="{ file, fileDataUrl }"
                            >
                                <p v-if="file === undefined">Loading the object {{object}}</p>
                                <p v-else-if="file === null">File not found.</p>
                                <template v-else>
                                    <p v-if="file.type.startsWith('image/')">
                                        <img
                                            id="profilePicture"
                                            :src="fileDataUrl"
                                            alt="Uploaded Image"
                                        />
                                    </p>
                                </template>
                            </graffiti-object-to-file>
                        </div>
                    </graffiti-discover>

                    <form @submit.prevent="uploadFile($graffitiSession.value)">
                        <input
                            id="file-input"
                            type="file"
                            class="buttonInside"
                            accept="*"
                            @change="setFileToUpload"
                        />
                        <input type="submit" class="profileButton" value="Upload" />
                    </form>

                    <div v-if="editingProfile">
                        <ul>
                            <li>
                                <strong>First name: </strong> <input type="text" v-model="userFirst"/>
                            </li>
                            <li>
                                <strong>Last name: </strong> <input type="text" v-model="userLast"/>
                            </li>
                            <li>
                                <strong>Dance groups: </strong> <input type="text" v-model="userTeams"/>
                            </li>
                            <li>
                                <strong>Dance styles: </strong> <input type="text" v-model="userStyles"/>
                            </li>
                        </ul>
                        <button class="profileButton" @click="setEditingProfile()">Cancel</button>
                        <button class="profileButton" @click="submitProfile()">Save</button>
                    </div>
                    <div v-else id="profileList">
                        <ul>
                            <li>
                                <strong>First name: </strong>
                            </li>
                            <li>
                                {{userFirst}}
                            </li>
                            <li>
                                <strong>Last name: </strong>
                            </li>
                            <li>
                                {{userLast}}
                            </li>
                            <li>
                                <strong>Dance groups: </strong>
                            </li>
                            <li>
                                {{userTeams}}
                            </li>
                            <li>
                                <strong>Dance styles: </strong>
                            </li>
                            <li>
                                {{userStyles}}
                            </li>
                        </ul>
                        <button class="profileButton" @click="setEditingProfile()">Edit</button>
                    </div>
                </div>
                <div id="right" v-if="!sendingFile && !showingProfile && $router.currentRoute.value.path=='/'"></div>
                    <div class="groupName" v-if="!sendingFile && !showingProfile && $router.currentRoute.value.path=='/' && currentGroup && $graffitiSession.value"><span v-if="!renaming">{{currentGroup}}</span></div>
                    
                    <div class="addForm above" v-if="adding">
                        <input class="above" type="text" v-model="addee"/>
                        <button class="above" @click="addParticipant($graffitiSession.value)">Add</button>
                        <button class="above" @click="cancelAdd">Cancel</button>
                    </div>

                    <div class="above" id="renameTemplate" v-if="renaming">
                        <input
                            type="text"
                            class="above"
                            v-model="newGroupName"
                            v-focus
                        />
                        <button class="above" @click="renameGroup()">Rename</button>
                        <button class="above" @click="cancelRename()">Cancel</button>
                    </div>
                    
                    <div v-if="currentGroup" v-if="!sendingFile && !showingProfile && $router.currentRoute.value.path=='/'" class="plusBig">
                        <button @click="openGroupTools" v-if="!sendingFile && !showingProfile && $router.currentRoute.value.path=='/'"><img src="./icons/More.svg"></button>
                    </div>
                    <my-menu 
                        v-if="$graffitiSession.value && currentGroupAdmin===$graffitiSession.value.actor"
                        class="groupTools"
                        :buttons="[{name: 'Rename', click: renameButtonHandler, params: [$graffitiSession.value]}, {name: 'Add Participant', click: addParticipantButtonHandler, params: []}, {name: 'Delete', click: deleteGroup, params: [$graffitiSession.value, currentGroupURL]}, {name: 'Files', click: enterFoldersPage, params: [currentGroup]}]"
                    ></my-menu>
                    <my-menu 
                        v-if="$graffitiSession.value && currentGroupAdmin!==$graffitiSession.value.actor"
                        class="groupTools"
                        :buttons="[{name: 'Files', click: enterFoldersPage, params: [currentGroup]}]"
                    ></my-menu>

                    <div id="messageBar" :class="{ empty: !currentGroup }" v-if="!sendingFile && !showingProfile && $router.currentRoute.value.path=='/'">
                        <graffiti-discover
                            autopoll
                            v-if="currentGroup"
                            id="messageList"
                            v-slot="{ objects: messageObjects, isInitialPolling }"
                            :channels="[currentChannel]"
                            :schema="{
                                properties: {
                                    value: {
                                        required: ['content', 'published'],
                                        properties: {
                                            content: { type: 'string' },
                                            published: { type: 'number' },
                                            image: { type: 'string' },
                                        }
                                    }
                                }
                            }"
                        >
                            <ul id="here">
                                <li class="loading" v-if="isInitialPolling">Loading...</li>
                                <li
                                    v-for="object of messageObjects.sort((a, b) => a.value.published - b.value.published)"
                                    :key="object.url"
                                    class="message"
                                    :class="{mine : object.actor===$graffitiSession.value.actor}"
                                >
                                    <div v-if="object.actor!=$graffitiSession.value.actor">
                                        <button class="author" @click="viewProfile(object.actor)">{{ parseUsername(object.actor) }}</button>
                                    </div>
                                    <span v-if="!object.value.image && (!editing || object.actor!==$graffitiSession.value.actor || objectURL!=object.url)">{{ object.value.content }}</span>
                                    <div v-if="object.value.image && (!editing || object.actor!==$graffitiSession.value.actor || objectURL!=object.url)">
                                        <graffiti-get
                                            :url="object.value.image"
                                            :schema="graffitiFileSchema"
                                            v-slot="{ object: objectImage }"
                                        >
                                            <graffiti-object-to-file
                                                :object="objectImage"
                                                v-slot="{ file, fileDataUrl }"
                                            >
                                                <span v-if="file === undefined">Loading</span>
                                                <span v-else-if="file === null">File not found.</span>
                                                <template v-else>
                                                    <span v-if="file.type.startsWith('image/')">
                                                        <img
                                                            class="sentImage"
                                                            :src="fileDataUrl"
                                                            alt="Uploaded Image"
                                                        />
                                                    </span>
                                                </template>
                                            </graffiti-object-to-file>
                                        </graffiti-get>
                                    </div>
                                    <div v-if="editing && object.actor===$graffitiSession.value.actor && objectURL==object.url" id="editTemplate">
                                        <input
                                            type="text"
                                            v-model="newMessage"
                                            ref="messageInput"
                                            v-focus
                                        />
                                        <button @click="editMessage()">Save</button>
                                        <button @click="cancelEdit()">Cancel</button>
                                    </div>
                                    <div class="plus" v-if="object.actor===$graffitiSession.value.actor">
                                        <button @click="openTools"><img src="./icons/More.svg"></button>
                                    </div>
                                    <my-menu 
                                        v-if="object.actor===$graffitiSession.value.actor"
                                        class="tools"
                                        :buttons="[{name: 'Edit', click: isEditing, params: [$graffitiSession.value, object.url, object.value.content]}, {name: 'Delete', click: deleteMessage, params: [$graffitiSession.value, object.url]}]"
                                    ></my-menu>
                                </li>
                            </ul>
                        </graffiti-discover>
                    </div>
                    <div id="typing" v-if="!sendingFile && !showingProfile && $router.currentRoute.value.path=='/' && $graffitiSession.value && currentGroup">
                        <my-menu 
                            class="sendTools"
                            :buttons="[{name: 'File', click: sendFile, params: [currentGroup]}]"
                        ></my-menu>
                        <input
                            id="file-sending-input"
                            type="file"
                            class="buttonInside"
                            accept="*"
                            @change="setFileToSubmit"
                        />
                        <input type="submit" class="profileButton" value="Upload" />
                        <form @submit.prevent="sendMessage($graffitiSession.value)">
                            <fieldset id="textBar" :disabled="sending">
                                <button type="button" id="sendOthers" @click="openSendTools">
                                    <img src="./icons/Plus.svg">
                                </button>
                                <input
                                    type="text"
                                    v-model="myMessage"
                                    placeholder="Message"
                                    ref="messageInput"
                                    v-focus
                                />
                                <button id="send" type="submit">
                                    <img src="./icons/Send.svg">
                                </button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="index.js" type="module"></script>
    </body>
</html>
