* {
    font-family:
        Roboto Flex,
        Segoe UI,
        sans-serif;
}

button,
input {
    margin: 3px;
}

input[type="text"] {
    width: 300px;
}

:checked + input[type="text"] {
    color: gray;
    font-style: italic;
    text-decoration: line-through;
}

fieldset {
    display: contents;
}

#app {
    display: grid;
    grid-template-columns: min(428px, 50vw) auto;
    grid-template-areas:
      "chats messages";
}

#chatBar {
    grid-area: chats;
}

#messageBar {
    grid-area:  messages;
    background-color: #F9F9F9;
    height: 90vh;
    overflow: auto;
    margin-top: 4vh;
    margin-right: -5px;
}

#messageList {
    display: flex;
    justify-content: flex-start;
}

#here {
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.message {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    margin-left: -35px;
    margin-right: 5px;
    background-color: #EFEFEF;
    border-radius: 10px;
    width: fit-content;
    max-width: 600px;
    min-width: 100px;
    min-height: 40px;
    text-wrap: wrap;
    box-shadow: 0px 0.5px 0.5px #404040c4;
}

.mine {
    justify-self: flex-end;
    padding-right: 35px;
    position: relative;
    min-height: 20px;
}

.plus {
    position: absolute;
    right: 2px;
    top: 7px;
    cursor: pointer;
}

.plus > button {
    width: min-content;
    border: none;
    cursor: pointer;
}

.plus > button > img {
    height: 12px;
    cursor: pointer;
}

.plusBig {
    position: absolute;
    right: 3px;
    top: 14px;
    cursor: pointer;
    z-index: 2;
}

.plusBig > button {
    width: min-content;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.plusBig > button > img {
    height: 20px;
    cursor: pointer;
    z-index: 2;
}

#newFolder {
    width: min-content;
    border: none;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 2;
    background-color: #F9F9F9;
}

#newFolder > img {
    height: 20px;
    cursor: pointer;
    z-index: 2;
}

#folderSection {
    display: inline;
}

.folder > button {
    margin-top: 40px;
    width: min-content;
    border: none;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    background-color: #F9F9F9;
    font-size: 16px;
}

.folder > button > img {
    height: 80px;
    cursor: pointer;
    z-index: 2;
}

#send {
    border: none;
    cursor: pointer;
}

#send > img {
    width: 30px;
}

#sendOthers {
    vertical-align: middle;
    border: none;
    cursor: pointer;
    margin-left: -8px;
    margin-right: 5px;
    margin-top: 7px;
}

#sendOthers > img {
    vertical-align: middle;
    width: 20px;
}

.tools {
    position: absolute;
    top: 30px;
    right: 2px;
    background-color: #1B7A6D;
    box-shadow: 0px 1px 2px #404040c4;
    border-radius: 10px;
    z-index: 2;
}

.tools > button {
    display: block;
    border: none;
    color: white;
    background-color: #1B7A6D;
    height: 25px;
    width: 60px;
    cursor: pointer;
    z-index: 2;
}

.groupTools {
    position: absolute;
    top: 5px;
    right: 35px;
    background-color: #1B7A6D;
    box-shadow: 0px 1px 2px #404040c4;
    border-radius: 10px;
    z-index: 3;
}

.sendTools {
    position: absolute;
    bottom: 40px;
    left: calc(min(432px, 50vw + 5px) + 10px);
    background-color: #1B7A6D;
    box-shadow: 0px 1px 2px #404040c4;
    border-radius: 10px;
    z-index: 3;
}

.sendTools > button {
    display: block;
    border: none;
    color: white;
    background-color: #1B7A6D;
    height: 25px;
    width: 60px;
    cursor: pointer;
    z-index: 3;
}

.groupTools > button {
    display: inline;
    border: none;
    color: white;
    background-color: #1B7A6D;
    height: 25px;
    width: min-content;
    cursor: pointer;
    z-index: 3;
}

.author {
    font-size: 16px;
    border: none;
    color: #1B7A6D;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: -6px;
    margin-top: -2px;
    cursor: pointer;
}

.group {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    margin-left: -35px;
    background-color: #EFEFEF;
    border-radius: 10px;
}

.group > button {
    border: none;
    background-color: #EFEFEF;
    font-size: 16px;
    size: inherit;
    cursor: pointer;
    width: 100%;
    line-height: 2;
    text-align: left;
}

#textBar {
    display: flex;
    border: none;
    background-color: #EFEFEF;
    bottom: 0;
    position: fixed;
    bottom: 0;
    left: min(432px, 50vw + 5px);
    right: 0;
    margin-left: 4px;
    height: max(5vh, 35px);
}

#textBar > input[type="text"] {
    /* flex-grow: 1; */
    width: max(calc(50vw - 115px), calc(100vw - 545px));
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: white;
    padding-left: 10px;
    vertical-align: middle;
    align-items: center;
    margin-top: 2px;
    margin-bottom: -1px;
    margin-right: 5px;
    margin-left: -1px;
    text-wrap: wrap;
}

.groupName {
    align-content: center;
    vertical-align: middle;
    background-color: #EFEFEF;
    padding-left: 10px;
    font-size: 28px;
    padding: 10px;
    height: max(5vh, 30px);
    font-weight: 300;
    position: fixed;
    top: 0;
    left: min(432px, 50vw + 5px);
    margin-left: 4px;
    right: 0;
    z-index: 1;
}

.logout {
    position: absolute;
    left: min(260px, calc(50vw - 170px));
    top: 30px;
}

@media (max-width: 680px) {

    #logoutButton {
        position: absolute;
        top: -100px;
        right: calc(50vw - 165px);
    }

    .profile {
        position: absolute;
        top: -65px;
        right: calc(50vw - 165px);
    }

    .logout {
        position: relative;
    }

  }

.logout > button {
    margin-left: 5px;
}

h1 {
    color: #1B7A6D;
}

.sendTools {
    display: none;
}

.tools {
    display: none;
}

.groupTools {
    display: none;
}

.addForm {
    position: absolute !important;
    top: 5px;
    right: 30px;
}

.addForm > input {
    width: 100px;
}

#newFolderTemplate {
    position: absolute !important;
    top: 15px;
    right: 70px;
}

.logout > button > img {
    width: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.logout > button {
    font-size: 14px;
    padding: 7px;
    color: white;
    background-color: #1B7A6D;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.login > img {
    width: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.login {
    font-size: 14px;
    padding: 7px;
    color: white;
    background-color: #1B7A6D;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 200px;
    top: 30px
}

.profile {
    background-color: #1B7A6D;
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 10px;
    padding: 7px;
    cursor: pointer;
}

.profile > img {
    width: 13px;
    margin-right: 5px;
    cursor: pointer;
}

.empty {
    background-color: white !important;
}

#createGroupButton {
    background-color: #1B7A6D;
    color: white;
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#newGroupText {
    height: 26px;
    border-radius: 10px;
    border: solid black 1px;
    width: calc(100% - 85px);
    padding-left: 5px;
}

#profilePage {
    background-color: #F9F9F9;
    height: 95vh;
    overflow: auto;
    padding: 20px;
    margin-top: -7px;
}

#profilePage > #back {
    width: min-content;
    border: none;
    cursor: pointer;
    background-color: #F9F9F9;
    margin-top: 5px;
}

#profilePage > #back > img {
    height: 20px;
    cursor: pointer;
}

#foldersPage {
    background-color: #F9F9F9;
    height: 95vh;
    overflow: auto;
    padding: 20px;
    margin-top: -7px;
}

#foldersPage > #back {
    width: min-content;
    border: none;
    cursor: pointer;
    background-color: #F9F9F9;
    margin-top: 5px;
}

#foldersPage > #back > img {
    height: 20px;
    cursor: pointer;
}

#mediaPage {
    background-color: #F9F9F9;
    height: 95vh;
    overflow: auto;
    padding: 20px;
    margin-top: -7px;
}

#mediaPage > #back {
    width: min-content;
    border: none;
    cursor: pointer;
    background-color: #F9F9F9;
    margin-top: 5px;
}

#mediaPage > #back > img {
    height: 20px;
    cursor: pointer;
}

#mediaPage > #path {
    font-size: 22px;
}

#profilePicture {
    display: block;
    width: min(260px, 40vw - 40px);
    height: min(260px, 40vw - 40px);
    overflow: hidden;
    margin-top: 40px;
    margin-left: 40px;
}

#profilePage > div > ul {
    list-style-type: none;
    font-size: 18px;
    line-height: 28px;
}

#username {
    font-size: 30px;
    display: inline-block;
    margin-left: 10px;
    color: #1B7A6D;
    font-weight: bold;
}

#filesTitle {
    font-size: 30px;
    display: inline-block;
    margin-left: 10px;
    color: #1B7A6D;
    font-weight: bold;
}

li > input[type="text"] {
    display: block;
    height: 26px;
    border-radius: 10px;
    border: solid black 1px;
    padding-left: 10px;
    width: 160px;
}

#profileList {
    line-height: 28px;
}

.profileButton {
    background-color: #1B7A6D;
    color: white;
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

::file-selector-button {
    background-color: #1B7A6D;
    color: white;
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.above {
    z-index: 4;
    position: relative;
    height: 0px;
}

.above > input[type="text"] {
    width: 300px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: white;
    padding-left: 10px;
    vertical-align: middle;
    align-items: center;
    margin-left: 5px;
}

.above > button {
    background-color: #1B7A6D;
    color: white;
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 30px;
}

#editTemplate > input[type="text"] {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: white;
    padding-left: 10px;
    vertical-align: middle;
    align-items: center;
    margin-top: -2px;
    margin-bottom: -2px;
}

#editTemplate > button {
    background-color: #1B7A6D;
    color: white;
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 30px;
}