<div id="profilePage">
    <button id="back" @click="this.$router.back()"><img src="../../icons/Back.svg"></button>
    <span id="username">User Name</span>
    <img src="../../icons/User.svg">
    <ul>
        <li>
            <strong>First name: </strong> <input type="text"/>
        </li>
        <li>
            <strong>Last name: </strong> Bla
        </li>
        <li>
            <strong>Dance groups: </strong> Bla
        </li>
        <li>
            <strong>Dance styles: </strong> Bla
        </li>
    </ul>
</div>