<div id="profilePage">
    <button id="back" @click="$router.back()"><img src="./../../icons/Back.svg"></button>
    <span id="username">{{ $route.params.username }}</span>
    <graffiti-discover
        :schema="{
            properties: {
                value: {
                    required: ['name'],
                    properties: {
                        name: { type: 'string' }
                    }
                }
            }
        }"
        v-slot="{ objects: messageObjects }"
        :channels="['https://' + $route.params.username + '.profilepicture.com']"
    >
        <div v-for="object of messageObjects">
            {{object}}
            <!-- <graffiti-object-to-file
                :object="object"
                v-slot="{ file, fileDataUrl }"
            >
                <p v-if="file === undefined">Loading the object {{object}}</p>
                <p v-else-if="file === null">File not found.</p>
                <template v-else>
                    <p v-if="file.type.startsWith('image/')">
                        <img
                            id="profilePicture"
                            :src="fileDataUrl"
                            alt="Uploaded Image"
                        />
                    </p>
                </template>
            </graffiti-object-to-file> -->
        </div>
    </graffiti-discover>
    <div>
        <graffiti-discover
            v-slot="{ objects: messageObjects, isInitialPolling }"
            :channels="['https://' + $route.params.username + '.profile.com']"
            :schema="{
                properties: {
                    value: {
                        required: ['username'],
                        properties: {
                                username: { type: 'string' }
                        }
                    }
                }
            }"
        >
            <ul v-for="object of messageObjects">
                <li>
                    <strong>First name: </strong>
                </li>
                <li>
                    {{object.value.first}}
                </li>
                <li>
                    <strong>Last name: </strong>
                </li>
                <li>
                    {{object.value.last}}
                </li>
                <li>
                    <strong>Dance groups: </strong>
                </li>
                <li>
                    {{object.value.teams}}
                </li>
                <li>
                    <strong>Dance styles: </strong>
                </li>
                <li>
                    {{object.value.styles}}
                </li>
            </ul>
        </graffiti-discover>
    </div>
</div>